<h4><a href="{{path('fadhil_test_add_todo')}}">Add New Todo</a></h4>
{% for note in notes %}
	<p>{{note.notes}}</p>
	{% if note.done == 0 %}
		<a href='#'>is it done?</a>
	{% elseif note.done == 1 %}
		<p>It's Done</p>
	{% endif %}

{% endfor %}